:root{
    --primary--blue: #667eea;
    --secondary--purple: #764ba2;

    --text-dark:#333;
    --text-medium:#555;
    --text--light:#666;
    --bg-whiteL:#ffffff;
}

.dark{
    height: 100%;
    width: 100%;
    color: var(--bg-whiteL);
    max-width: 400px;
    margin: 50px auto;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
    font-family: 'Arial',sans-serif;
}

.portpolio-card{
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
    font-family: 'Arial',sans-serif;
}

.portpolio-header{
    background: linear-gradient(135deg,#667eea 0%, #764ba2 100%);
    color: white;
    padding: 20px;
    text-align: center;
}

.portpolio-header h1 {
   margin: 0;
   font-size: 1.5rem;
}

.header-decoration{
    width: 50px;
    height: 3px;
    background: white;
    margin: 10px auto;
    border-radius: 2px;
}

.card-content{
    padding: 30px;

}

.avatar-container{
    text-align: center;
    margin-bottom:20px ;
    position: relative;
}

.avatar-image{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--primary--blue);
}

.name{
    /* color: var(--text-dark); */
    margin: 0 0 10px 0;
    font-size: 1.8rem;
}

.role{
    color: var(--primary--blue);
    font-weight: bold;
    margin: 5px 0;
    font-size: 1.1rem;
}
.location, .email{
    /* color: var(--text--light); */
    margin: 5px 0;
}

.bio-section h3{
    /* color: var(--text-dark); */
    border-bottom: 2px solid var(--primary--blue);
    padding-bottom: 5px;
    margin-bottom: 15px;
}
.bio_text{
    line-height: 1.6;
    color: val(--text-medium);
    margin-bottom: 20px;
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap:8px;
    border-bottom: 2px solid var(--primary--blue);
    padding-bottom: 15px;
}

.skill-tag{
    background: var(--primary--blue);
    color: white;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    
}

.skill-tag:hover{
    background: var(--secondary--purple);
    transform: translate(-1px);
    transition: all 0.3s ease;
}

.portpolio-card:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease;
}

.theme_btn{
 display:inline;
 align-items: center;
 background: none;
 border: none;
 cursor: pointer;
}

.theme-icon{
    width: 25px;
    height: 25px;
    padding-top: 7px;
    padding-left: 30px;
}

